.page {
    min-width: 1275px;
    /* выше установлена минимальная ширина страницы с учетом внутренних отступов */
    max-width: 1700px;
    /* выше установили ограничение по максимальной ширине с учетом внутренних отступов*/
    margin: 0;
    /* выше для экранов больше 1600px отцентрировали весь контент */
    font-family: Inter, Arial, sans-serif;
    background-color:  rgba(42, 44, 47, 1);
  }

  @media screen and (max-width: 1280px) {
    .page {
      min-width: 1009px;
      max-width: 1280px;
    }
  }
  
  @media screen and (max-width: 1024px) {
    .page {
      min-width: 759px;
      max-width: 1024px;
    }
  
  }
  
  @media screen and (max-width: 768px) {
    .page {
      min-width: 320px;
      max-width: 768px;
    }
  
  }