.page {
    min-width: 320px;
    /* выше установлена минимальная ширина страницы с учетом внутренних отступов */
    /*max-width: 1600px;*/
    /* выше установили ограничение по максимальной ширине с учетом внутренних отступов*/
    margin: 0;
    /* выше для экранов больше 1600px отцентрировали весь контент */
    font-family: Inter;
    background-color: black;
    overflow:hidden;
    overflow-y:hidden;  /*для вертикального*/
    overflow-x:hidden;  /*для горизонтального*/
  }