.photo-grid {
    margin: 90px 48px 95px;
    width: calc(100% - 48px - 48px);
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px,1fr));
    grid-column-gap: 12px;
    grid-row-gap: 12px;
    list-style: none;
    padding-inline-start: 0;
    justify-items: center;
}

 
  @media screen and (max-width: 1024px) {
    .photo-grid {
      margin: 88px 40px 88px;
      width: calc(100% - 40px - 40px);
    }
  }
  
  @media screen and (max-width: 768px) {
    .photo-grid {
        margin: 88px 24px 88px;
        width: calc(100% - 24px - 24px);
    } 
  }

    
  @media screen and (max-width: 320px) {
    .photo-grid {
        margin: 65px 15px 65px;
        width: calc(100% - 15px - 15px);
        grid-row-gap: 6px;
    } 
  }