.photo-grid {
    margin: 92px 48px 92px;
    min-height: 670px;
    display: grid;
    grid-template-columns: repeat(auto-fill, 284px);
    grid-template-rows: repeat(auto-fit, 210px);
    grid-column-gap: 16px;
    grid-row-gap: 16px;
    list-style: none;
}


@media screen and (max-width: 1280px) {
    .photo-grid {
      margin: 92px 48px 92px;
      min-height: 950px;
      grid-template-columns: repeat(auto-fill, 300px);
      grid-template-rows: repeat(auto-fit, 225px);
    }
  }
  
  @media screen and (max-width: 1024px) {
    .photo-grid {
      margin: 88px 24px 88px;
      min-height: 1670px;
      grid-template-columns: repeat(auto-fill, minmax(335px, 455px));
      grid-template-rows: repeat(auto-fit, minmax(335px, 455px));
    }
  }
  
  @media screen and (max-width: 768px) {
    .photo-grid {
        margin: 64px 16px 64px;
        min-height: 2700px;
        grid-template-columns: repeat(auto-fill, 290px);
        grid-template-rows: repeat(auto-fit, 215px);
    } 
  }