.places {
    margin: 0 148px 0;
}

@media screen and (max-width: 1280px) {
    .places {
        margin: 0 48px 0;
    }
  }
  
  @media screen and (max-width: 1024px) {
    .places {
        margin: 0 24px 0;
    }
  
  }
  
  @media screen and (max-width: 768px) {
    .places {
        margin: 0 0 0;
    } 
  
  }
    