.places {
    padding: 0 148px 0;
    width: calc(100 - 148px - 148px);
}

  
  @media screen and (max-width: 1024px) {
    .places {
        padding: 0 50px 0;
        width: calc(100 - 50px - 50px);
    }
  
  }
  
  @media screen and (max-width: 768px) {
    .places {
        padding: 0 24px 0;
        width: calc(100 - 24px - 24px);
    } 
  
  }

    
  @media screen and (max-width: 320px) {
    .places {
        margin: 0 0 0;
    } 
  
  }
    