.place__image {
    margin: 0;
   /* max-height: 460px;*/
    margin-top: 48px;
    object-fit: contain;
    object-position: 0 0;
    width: 47%;
}

  
 /*@media screen and (max-width: 1279.95px) {
    .place__image {
        width: 47%;
      }
  }*/
  
  /*@media screen and (max-width: 768px) {
    .place__image {
        max-height: 340px;
      }
  }*/

    
 /* @media screen and (max-width: 1023.95px) {
    .place__image {
      width: 47%;
      }
  }*/

    
  @media screen and (max-width: 767.95px) {
    .place__image {
       /* max-height: 320px;*/
        margin-top: 32px;
        width: 100%;
        /*max-width: 320px;*/
      }
  }