.lead {
    margin:  0;
    /*padding-left: 148px;
    padding-right: 148px;
    width: calc(100% - 148px - 148px);*/
    padding-left: 48px;
    padding-right: 48px;
    width: calc(100% - 48px - 48px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


  
  @media screen and (max-width: 768px) {
    .lead {
      padding-left: 0;
      padding-right: 0;
      width: 100%;
      }
  
  }


   