.header {
  margin: 0;
  padding: 28px 48px 56px;
  width: calc(100% -48px - 48px);
  /*max-width: 1600px;
  min-width: 1240px;*/
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}


@media screen and (max-width: 1024px) {
  .header {
    padding: 25px 48px 48px;
  }

}

@media screen and (max-width: 768px) {
  .header {
    padding: 28px 24px 48px;
    width: calc(100% - 24px - 24px);
  }  

}

@media screen and (max-width: 320px) {
  .header {
    padding: 16px 16px 48px;
    width: calc(100% - 16px - 16px);
  }  

}
  
