.photo-grid__item-arisa {
    margin: 0;
    background-image: url(../../../images/photo-grid-arisa.jpg);
    background-size: cover;
}

.photo-grid__item-atharva-tulsi {
    margin: 0;
    background-image: url(../../../images/photo-grid-atharva-tulsi.jpg);
    background-size: cover;
}

.photo-grid__item-baikal-2 {
    margin: 0;
    background-image: url(../../../images/photo-grid-baikal-2.jpg);
    background-size: cover;
}

.photo-grid__item-baikal {
    margin: 0;
    background-image: url(../../../images/photo-grid-baikal.jpg);
    background-size: cover;
}

.photo-grid__item-elbrus {
    margin: 0;
    background-image: url(../../../images/photo-grid-elbrus.jpg);
    background-size: cover;
}

.photo-grid__item-ergaki {
    margin: 0;
    background-image: url(../../../images/photo-grid-ergaki.jpg);
    background-size: cover;
}

.photo-grid__item-kamchatka-1 {
    margin: 0;
    background-image: url(../../../images/photo-grid-kamchatka-1.jpg);
    background-size: cover;
}

.photo-grid__item-kamchatka-2 {
    margin: 0;
    background-image: url(../../../images/photo-grid-kamchatka-2.jpg);
    background-size: cover;
}

.photo-grid__item-kondratiev {
    margin: 0;
    background-image: url(../../../images/photo-grid-kondratiev.jpg);
    background-size: cover;
}

.photo-grid__item-sochi {
    margin: 0;
    background-image: url(../../../images/photo-grid-sochi.jpg);
    background-size: cover;
}

.photo-grid__item-train {
    margin: 0;
    background-image: url(../../../images/photo-grid-train.jpg);
    background-size: cover;
}


.photo-grid__item-tuman {
    margin: 0;
    background-image: url(../../../images/photo-grid-tuman.jpg);
    background-size: cover;
}
