.footer__link {
    font-size: 16px;
    line-height: 18px;
    text-decoration: none;
    color: rgb(255, 255, 255, 1.0);
    margin: 0 18px 0 0;
    list-style: none;
}

.footer__link:last-of-type {
  margin: 0;
}

.footer__link:hover {
  color: rgb(255, 255, 255, 0.8);
}

/*@media screen and (max-width: 625px) {
  .footer__link {
    font-size: 10px;
      }
  }

@media screen and (max-width: 560px) {
  .footer__link {
    font-size: 8px;
    line-height: 14px;
    margin: 0 8px 0 0;
      }
  
  }


  @media screen and (max-width: 340px) {
    .footer__link {
      font-size: 5px;
      line-height: 8px;
      margin: 0 2px 0 0;
        }
    
    }*/

  
@media screen and (max-width: 700px) {
  .footer__link {
    margin: 0 0 32px 0;
    font-size: 24px;
    line-height: 24px;
      }
  
  }

