.lead__title {
  margin: 0 20px 0;
  text-align: center;
  font-weight: 900;
  font-size: 96px;
  line-height: 100px;
  color: #FFFFFF;
} 



@media screen and (max-width: 1024px) {
  .lead__title {
    margin: 0;
  }

}




@media screen and (max-width: 690px) {
  .lead__title {
    font-size: 34px;
    line-height: 44px;
  }

}

@media screen and (max-width: 320px) {
  .lead__title {
    padding: 0 16px 0;
    width: calc(100% - 16px - 16px);
    /*font-size: 40px; - текст не влезает в блок, не могу понять как ужать текст, чтобы он влез в блок */
  }

}
