.place__paragraph {
    margin: 0;
    margin-top: 48px;
    margin-left: 40px;
    margin-right: 0;
    /*width: calc(60% - 40px);*/
    max-width: 484px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-self: flex-start;
}


/*@media screen and (max-width: 1280px) {
    .place__paragraph {
        width: 45%;
        margin-left: 40px;
        margin-right: 0;
        margin-top: 48px;
    }
  } */
  
  @media screen and (max-width: 1024px) {
    .place__paragraph {
        width: 45%;
        margin-left: 40px;
        margin-right: 0;
        margin-top: 48px;
    }
  
  }
  
  @media screen and (max-width: 768px) {
    .place__paragraph {
        width: 100%;
        margin-left: 16px;
        margin-right: 16px;
        margin-top: 32px;
    }
  
  }
