.footer__copyright {
    margin: 0;
    font-size: 14px;
    line-height: 16px;
    color: #FFFFFF;
}


@media screen and (max-width: 320px) {
    .footer__copyright {
      margin-top: 45px;
    }
  }