.intro {
    padding: 75px  148px 0px;
    width: calc(100% - 148px - 148px);
}


  
  @media screen and (max-width: 1024px) {
    .intro {
        padding: 75px  47px 0px  47px;
        width: calc(100% - 47px - 47px);
    }
  
  }
    
  @media screen and (max-width: 768px) {
    .intro {
      padding: 72px  24px 0px  24px;
      width: calc(100% - 24px - 24px);
    }
  
  }