
.header__lang__link {
    margin: 0 0 0;
    font-size: 24px;
    line-height: 28px;
    color: white;
    text-decoration: none;
}


@media screen and (max-width: 1280px) {
    .header__lang__link {
        font-size: 24px;
        line-height: 28px;
    }
  }
  
  @media screen and (max-width: 1024px) {
    .header__lang__link {
        font-size: 24px;
        line-height: 28px;
    }
  
  }
  
  @media screen and (max-width: 768px) {
    .header__lang__link {
        font-size: 18px;
        line-height: 20px;
    }
  
  }
   