.lead__subtitle {
  text-align: center;
  margin: 30px 0 50px;
  padding-left: 164px;
  padding-right: 164px;
  font-size: 30px;
  line-height: 36px;
  color: #FFFFFF;
}


@media screen and (max-width: 1280px) {
  .lead__subtitle {
    font-size: 30px;
    line-height: 36px;
    padding-left: 210px;
    padding-right: 210px;
  }
}

@media screen and (max-width: 1024px) {
  .lead__subtitle {
    font-size: 30px;
    line-height: 36px;
    padding-left: 164px;
    padding-right: 164px;
  }

}

@media screen and (max-width: 768px) {
  .lead__subtitle {
    font-size: 16px;
    line-height: 20px;
    padding-left: 16px;
    padding-right: 16px;
  }

}