.cover__overlay {
    margin: 0;
    min-height: 745px;
    width: calc(100%);
    color: #FFFFFF;
    text-decoration: none;
    background: rgb(42, 44, 47, .3);
    display: block;
}

.cover__overlay:hover {
    background: rgb(42, 44, 47, .8);
}


@media screen and (max-width: 1024px) {
    .cover__overlay {
      min-height: 645px;
    }
  }

  @media screen and (max-width: 768px) {
    .cover__overlay {
      min-height: 480px;
    }
  }

  @media screen and (max-width: 320px) {
    .cover__overlay {
      min-height: 200px;
    }
  }