.lead__caption {
  margin: 8px 0 0;
  display: flex;
  align-self: flex-start;
  font-size: 12px;
  line-height: 14px;
  color: #FFFFFF;
  padding-left: 0px;
  text-transform: uppercase;
  letter-spacing: 0.15em;
  font-weight: normal;
}

  
  @media screen and (max-width: 1024px) {
    .lead__caption {
        font-size: 10px;
      }
  
  }
  
  @media screen and (max-width: 768px) {
    .lead__caption {
        font-size: 10px;
        line-height: 14px;
        padding-left: 16px;
      }
  
  }