.place {
    margin: 0;
    margin-bottom: 80px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    /*align-items: flex-end;*/
}

@media screen and (max-width: 1024px) {
    .place {
        margin-bottom: 70px;
    }
  } 

  @media screen and (max-width: 768px) {
    .place {
        margin-bottom: 77px;
    }
  } 

  @media screen and (max-width: 320px) {
    .place {
        margin-bottom: 147px;
    }
  } 