.footer {
    padding: 92px 48px 24px;
    width: calc(100% - 48px - 48px);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}


  
  @media screen and (max-width: 1024px) {
    .footer {
      padding: 92px 47px 24px;
      width: calc(100% - 47px - 47px);
    }
  
  }

    
  @media screen and (max-width: 768px) {
    .footer {
      padding: 80px 24px 24px;
      width: calc(100% - 24px - 24px);
    }
  
  }

  
/*@media screen and (max-width: 560px) {
  .footer {
    padding: 88px 0px 24px;
    width: 100%;
      }
  
  } */
  
  @media screen and (max-width: 700px) {
    .footer {
      padding: 56px 0px 24px 16px;
      width: calc(100% - 16px);
      flex-direction: column;
      justify-content: flex-start;
      }
  
  }
    