.footer {
    margin: 92px 48px 24px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

@media screen and (max-width: 1280px) {
    .footer {
      margin: 92px 48px 24px;
    }
  }
  
  @media screen and (max-width: 1024px) {
    .footer {
      margin: 88px 24px 24px;
    }
  
  }
  
  @media screen and (max-width: 768px) {
    .footer {
        margin: 64px 16px 24px;
        flex-direction: column;
        justify-content: flex-start;
      }
  
  }
    