.footer {
    padding: 92px 48px 24px;
    width: calc(100% - 48px - 48px);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}


  
  @media screen and (max-width: 1024px) {
    .footer {
      padding: 92px 47px 24px;
      width: calc(100% - 47px - 47px);
    }
  
  }

    
  @media screen and (max-width: 768px) {
    .footer {
      padding: 88px 24px 24px;
      width: calc(100% - 24px - 24px);
    }
  
  }
  
  @media screen and (max-width: 320px) {
    .footer {
      padding: 56px 16px 24px;
      width: calc(100% - 16px - 16px);
      flex-direction: column;
      justify-content: flex-start;
      }
  
  }
    