.place__website {
    margin: 0;
    /*margin-top: 105px;*/
    margin-left: 40px;
    width: 456px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

  
  @media screen and (max-width: 1024px) {
    .place__website {
        margin-left: 32px;
        width: 450px;
      }
  } 

    
  @media screen and (max-width: 768px) {
    .place__website {
        margin-left: 40px;
        width: 250px;
      }
  }
  
  @media screen and (max-width: 320px) {
    .place__website {
        margin-left: 0px;
        margin-top: 32px;
        width: 288px;
        padding-left: 17px;
        /*width: calc(100% - 17px);*/
      }
  }