.footer__links__link {
    margin: 0 18px 0 0;
}



@media screen and (max-width: 1280px) {
    .footer__links__link {
        margin: 0 18px 0 0;
    }
  }
  
  @media screen and (max-width: 1024px) {
    .footer__links__link {
        margin: 0 18px 0 0;
    }
  
  }
  
  @media screen and (max-width: 768px) {
    .footer__links__link {
        margin: 0 0 32px 0;
      }
  
  }

