.intro__title {
    margin: 0px;
    margin-bottom: 40px;
    font-weight: 900;
    font-size: 54px;
    line-height: 58px;
    color: #FFFFFF;
}

  
@media screen and (max-width: 400px) {
  .intro__title {
      font-size: 40px;
      line-height: 35px;
  }

}

  
  @media screen and (max-width: 320px) {
    .intro__title {
        font-size: 32px;
        margin: 0 35px 40px 0px;
    }
  
  }